body {
    margin: 0;
}

.midnightBlue {
    color: whitesmoke;
    background-color: midnightblue;
    text-align: center;
}

.paddedGray {
    background-color: lightgray;
    padding: 1em;
}

.recordBackground {
    background-image: url("../../assignment/record.png");
    background-repeat: repeat;
}