header {
    color: whitesmoke;
    background-color: midnightblue;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}

body {
    background-image: url("../../assignment/record.png");
    background-repeat: repeat;
    margin: 0;
}
